{% set many = row.field.multiple|default(false) %}
<select class="select w-full {% if row.error %}select-error{% endif %} {% if many %}h-auto py-2{% endif %}"
        id="field-{{ row.path }}" name="{{ row.path }}"
        {% if many %}multiple size="5"{% endif %} {{ field_attrs|default('') }}>
  {% if not many and (not row.required or not row.browser_required) %}<option value="">{{ _('Not set') }}</option>{% endif %}
  {% for choice in row.choices %}
    <option value="{{ choice.value }}" {% if choice.value in row.selected %}selected{% endif %}>
      {{ choice.label }}
    </option>
  {% endfor %}
</select>
